.change-password {
    .modal-footer {
        > button {
            margin: 0 10px;
        }
    }
}

.user-profile {
    .field-name {
        font-weight: 700;
    }
}

.progress-bar-dialog {
    width: 30%;

    .progress-bar {
        width: 100%;
    }
}
