.change-password {
    .modal-footer {
        > button {
            margin: 0 10px;
        }
    }
}

.user-profile {
    .field-name {
        font-weight: 700;
    }
}

$dialog-background-color: rgba( 43, 83, 109, 0.75);
$dialog-width: 500px;
$dialog-height: 350px;
$dialog-width-large: 800px;
$dialog-height-large: 500px;

.dialog-overlay-layer {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $dialog-background-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-container {
    width: $dialog-width;
    height: $dialog-height;
    background-color: white;
    padding: 0;
    border-radius: 3px;
    margin: 10px;
    position: relative;
}

.dialog-container-large {
    @extend .dialog-container;
    width: $dialog-width-large;
    height: $dialog-height-large;
}

.dialog-header {
    border-bottom: solid #cccccc 1px;
    margin: 20px 40px;
    padding-bottom: 20px;
}

.dialog-page-title {
    margin: 0;
    font-size: 20px;
    color: #0c2931;
}

.dialog-content {
    position: absolute;
    top: 89px;
    left: 0;
    right: 0;
    bottom: 75px;
    margin: 0 40px 0 40px;
    overflow-y: auto;
}

.dialog-header-message {
    font-weight: bold;
    font-size: 17px;
    padding: 0 0 10px 0;
    text-align: left;
    white-space: pre-wrap;
    max-height: 100px;
}

.dialog-message{
    color: #666666;
    white-space: pre-wrap;
}

.dialog-footer {
    padding: 20px 35px;
    height: 75px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.dialog-button {
    margin-left: 5px;
    margin-right: 5px;
    button {
        min-width: 105px;
    }
}

.progress-bar-dialog {
    width: 30%;
    .progress-bar {
        width: 100%;
    }
}


