body {
    height: 100%;
    width: 100%;
}

$app-header-height: 50px;
$app-header-border-color: #cccccc;
$app-header-background-color: #f5f5f6;

.app-header {
    height: $app-header-height;
    background-color: white;
    border-bottom: solid 2px cadetblue;
    position: relative;

    .logo {
        > img {
            height: 48px;
            border-right: solid 1px $app-header-border-color;
        }
    }

    .space-title {
        position: absolute;
        background: $app-header-background-color;
        top: 0;
        left: 65px;
        right: 160px;
        padding-left: 10px;
        border-right: solid 1px $app-header-border-color;
        height: 100%;

        > span {
            line-height: 50px;
            font-size: 25px;
            color: #12759f;
        }
    }

    .account {
        float: right;
        height: 48px;
        line-height: 48px;
        position: relative;

        > span {
            font-size: 20px;
        }

        .profile-icon {
            margin: 0 2px 0 5px;

            > i {
                font-size: 42px;
                border: solid;
            }
        }
    }
}

.fs-nav {
    width: 28%;
    position: absolute;
    top: 50px;
    bottom: 0;

    .quick-nav {
        width: 50px;
        height: 100%;
        background-color: #0f333d;

        .nav-pills > li > a {
            border-radius: 0;
        }

        .nav > li > a {
            padding: 0;
        }

        .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
            background-color: unset;
        }

        .nav > li > a:hover, .nav > li > a:focus {
            color: white;
            background-color: unset;
        }

        a {
            font-size: 30px;
            text-align: center;
        }
    }

    .app-navigation-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        margin-left: 50px;
        border: solid 1px gainsboro;
        border-left-width: 0;
        border-top-width: 0;

        > ul > li {
            border-bottom: 1px solid gainsboro;
        }

        .nav-stacked > li + li {
            margin-top: unset;
        }

        .nav-pills > li > a {
            border-radius: unset;
        }

        .nav-stacked li > a > span {
            margin-right: 45px;
            display: block;            
        }

        .nav-stacked li > a > i {
            position: absolute;
            top: 0;
            right: 0;
            padding: 13px;
            opacity: 0.4;
            &:hover {
                opacity: 1.0;
            }
        }
    }
}

.app-main-screen {
    position: absolute;
    top: $app-header-height;
    left: 28%;
    right: 0;
    bottom: 0;
    margin: 1%;
    padding: 2%;
    padding-top: 0;
    overflow-y: auto;
    background: white;

    .active-page {
        overflow: auto;
    }


    .page-title {
        margin: 0 0 10px 0;

        .navigation-button {
            float: left;
            margin-right: 20px;

            a {
                color: #b3b3b3;
            }

            > a + a {
                margin-left: 10px;
            }

            a:hover, a:focus {
                text-decoration: none;
            }

            a.disabled {
                cursor: default;
                opacity: 0.5;
                pointer-events: none;
            }
        }



        .page-history {
            .dropdown-toggle .fa-angle-up {
                display: none;
            }

            > a {
                font-size: 30px;
                color: #0c2931;
            }

            a:hover, a:focus {
                text-decoration: none;
            }

            a.disabled {
                cursor: default;
                opacity: 0.5;
                pointer-events: none;
            }

            > ul {
                font-size: 20px;
                color: #0c2931;
            }

            margin-left: 110px;
        }

        .dropdown.page-history.open .dropdown-toggle .fa-angle-up {
            /*
                * css多类选择器
                * 中间无空格的几个类写在一起，代表这个元素同时具有这几个样式类
                * 中间有空格隔开的话，代表类间的层级关系
            */
            display: inline-block;
        }

        .dropdown.page-history.open .dropdown-toggle .fa-angle-down {
            display: none;
        }
    }
}

.grid-toolbar {
    margin: 10px 10px 10px 0;

    > button + button {
        margin-left: 5px;
    }
}
